<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.blogspot.kmvignesh.calculator">

    <uses-permission android:name="android.permisson.Internet"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Zootutor"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.AppCompat.Light">
        <activity android:name=".MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter></activity>
        <activity android:name="com.tutorialwing.scrollview.cow" />
        <activity android:name="com.tutorialwing.scrollview.horse" />
        <activity android:name="com.tutorialwing.scrollview.goat" />
        <activity android:name="com.tutorialwing.scrollview.pig" />
        <activity android:name="com.tutorialwing.scrollview.rabbit" />
        <activity android:name="com.tutorialwing.scrollview.sheep" />
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>